<!doctype html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">
        (function checkContainer() {
            setTimeout(function() {
                    window.location = "/cloud9";
            }, 5000);
        })();
    </script>


    <link rel="stylesheet" type="text/css" href="css/wait.css">
</head>
<body>
<div id="loading-wrapper">
    <div id="loading-text">Loading</div>
    <div id="loading-content"></div>
</div>
</body>

</html>
